p {
    background-color: rgb(87, 93, 211);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #ebf4f4;
  opacity: 2;
  margin: 30px ;
}

.c {
 border-style: solid;
 border-color: rgb(70, 70, 180);
 border-radius: 5px;
}

#p {
    background-color: rgb(127, 159, 213);
    padding: 50px;
    width:340px;
    height: 50px;
    padding: 10px;
    opacity:2 ;
    margin: 0;
    color: aliceblue;
}
.n{
  background-color: rgb(119, 119, 225);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
table, td, th {  
  border: 1px solid #141111;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td  {
  border: 1x solid black; 
  padding: 15px;
  deisplay: rgb(139, 139, 188)
}
.p{
  background-color: green;
  height: 40px;
}
tr :hover{
 background-color: rgb(72, 80, 190);
 margin: 20px;
}


